@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.main {
    display: flex;
    align-self: start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main:hover .line img{
    visibility: visible;
}

.block {

}

.block:hover .image{
    height: 500px;
    width: auto;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

.block:active .image{
    height: 700px;
    width: auto;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    vertical-align: middle;
}

.line:hover img{
    transform: rotate(270deg);
    transition-duration: 500ms;
}

.line img{
    max-width: 35px;
    max-height: 35px;
    align-items: end;
    transition-duration: 500ms;
    visibility: hidden;
}

.image {
    display: flex;
    justify-content: center;
    height: 0px;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

img {
    max-width: 70%;
    max-height: auto;
}

@media screen and (max-width: 1920px){
   .main {
    width: 1000px;
   }
}

@media screen and (max-width: 820px){

}

@media screen and (max-width: 320px){
    
}